[submodule "config-files/.vim/bundle/vim-airline"]
	path = config-files/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "config-files/.vim/bundle/vim-airline-themes"]
	path = config-files/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "config-files/.vim/bundle/vim-fugitive"]
	path = config-files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "config-files/.vim/bundle/gnuplot.vim"]
	path = config-files/.vim/bundle/gnuplot.vim
	url = https://github.com/uemurax/gnuplot.vim
