[submodule "config-files/.vim/bundle/vim-airline"]
	path = config-files/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "config-files/.vim/bundle/vim-airline-themes"]
	path = config-files/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "config-files/.vim/bundle/openhab-vim"]
	path = config-files/.vim/bundle/openhab-vim
	url = https://github.com/cyberkov/openhab-vim
